/* Definición de la fuente */
@font-face {
	font-family: SamsungOne;
	src: URL('../fonts/samsung.ttf') format('truetype');
}

/* General */
html, body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	color: white;
	font-family: SamsungOne;
	font-weight: 600;
	text-align: center;
}

/* Estructura de las pantallas*/
.page {
	padding: 20px;
	font-size: 30px;
	width: 1880px;
	height: 1040px;
}

.header {
	height: 100px;
}

.footer {
	height: 80px;
	clear: both;
}

.zone {
	height: 840px;
}

.zone>div {
	display: inline-block;
}

/* Tarjetas de la pantalla principal*/
.card {
	border: 10px solid transparent;
	width: 250px;
	height: 250px;
	margin-top: 25px;
	margin-bottom: 75px;
	margin-right: 90px;
	margin-left: 90px;
	float: left;
	background-image: url(../image/1.png);
	background-repeat: no-repeat;
	background-size: 250px 250px;
	background-origin: content-box;
	-webkit-transition: background 1s;
	float: left;
	padding: 10px;
}

.card>div {
	margin-top: 70px;
	margin-left: 20px;
	margin-right: 12px;
}

.card.focused {
	border: 10px solid #1C1CD8;
}

/* Ajustes de estilo de los componentes de CAPH*/
.caph-checkbox {
	width: 515px;
	border: 4px solid rgba(0, 0, 0, 0);
	text-align: left;
}

.caph-checkbox:before {
	font-size: 40px;
}

.caph-checkbox.focused, .caph-radiobutton.focused {
	border: 4px solid #1C1CD8;
}

.caph-dialog-button.focused, .caph-button.focused {
	background-color: #1C1CD8;
}

.caph-button.selected {
	background-color: #d1d1d1;
}

.caph-button.selected.focused {
	background-color: #d1d1ff;
}

.caph-dialog-button {
	border: 4px solid #414141;
}

.caph-dialog {
	width: 50%;
}

.caph-dialog .content {
	text-align: center;
	font-size: 40px;
}

.disabled {
	background-color: #999;
	color: #bbb;
}

.caph-checkbox:before, .caph-radiobutton:before {
	width: 70px;
}

.caph-dialog {
	display: none;
}

.caph-dialog .title {
	font-family: SamsungOne
}

.caph-context-menu ul {
	margin: 20px;
}

.caph-context-menu ul li {
	height: 20px;
	font-size: 30px;
}

.caph-context-menu ul li.focused {
	background-color: #1C1CD8;
}

.caph-radiobutton {
	width: 620px;
	text-align: left;
	border: 4px solid #0000;
}

.caph-input {
	border: 4px solid #0000;
}

.caph-input.focused {
	border: 10px solid #1c1cd8;
}

.itemLista {
	border: 4px solid #0000;
}

.itemLista.focused {
	border: 4px solid #1c1cd8;
}

.caph-dropdown-list .list-container .textbox.focused,
	.caph-dropdown-list .placeholder.focused .textbox .label,
	.caph-dropdown-list .placeholder.focused .button .label,
	.caph-dropdown-list .placeholder.focused {
	background-color: #1C1CD8;
	color: white;
}